#window {
    padding: 2px;
    background-color: #1e1e2e;
    border: 2px solid #cba6f7;
    border-radius: 8pt;
    font-size: 15px;
}
#outer-box {
    margin: 15px;
}

#entry {
    border-radius: 3px;
    padding: 2px 3px 2px 3px;
    color: #cdd6f4;
}
#entry:selected {
    background-color: #89b4fa;
}

#text {
    padding: 3px;
}
#text:selected {
    color: #1e1e2e;
}

#input {
    border: none;
    background-color: #313244;
    color: #d8dee9;
    padding: 3px 5px 3px 5px;
    border-radius: 5px;
}

#scroll {
    margin-top: 10px;
}
